---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: ecommerce
type: Opaque
stringData:
  username: products
  password: changeme
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: ecommerce
type: Opaque
stringData:
  access-key: minioadmin
  secret-key: minioadmin
